//Variables
@import "../../../../assets/styles/helpers/variables";
//Mixins
@import "../../../../assets/styles/helpers/mixins";
//Actions
@import "../../../../assets/styles/Components/actions";
mat-toolbar {
  background: rgb(255, 255, 255);
  height: 65px;
  position: relative;
  z-index: 99;
  h3 {
    @include font(19px, 700);
    color: #757575;
  }
  action {
    margin: 1%;
  }
  mat-icon {
    cursor: pointer;
  }
}
